# Rust dev/build outputs
debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Docker
Dockerfile
.dockerignore